@model IEnumerable<Baya.DataLayer.Entities.User>

@{
    ViewData["Title"] = "نمایش کاربران غیرفعال";
    int rowCount = 1;
}


@section Styles {
    @*<link href="@Url.Content("~/panel/assets/jstree/themes/default/style.css")" rel="stylesheet" type="text/css" />*@

}
<div class="card">
    <div class="header">
        <h2 class="alert alert-info text-center">
            <strong>لیست کاربران غیرفعال</strong>
        </h2>


        <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <form asp-action="Deactive" method="post">
                <input type="search" id="mobile" name="mobile" value="@ViewBag.Mobile" class="float-left form-control form-control-sm" placeholder="مانند : 09121234567">
            </form>
        </div>
    </div>
    <div class="body">
        @if (Model.Count() == 0)
        {
            <h5 class="text-center alert bg-teal alert-dismissible">
                <strong>کاربر غیرفعال در سیستم ثبت نشده است</strong>
            </h5>
        }
        else
        {
            <table class="table table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl">
                <thead>
                    <tr>

                        <th width="40px">ردیف</th>


                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            نقش کاربر
                        </th>



                        <th>عملیات</th>
                    </tr>
                </thead>

                <tbody id="tbluser">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@rowCount</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.RoleTitle)
                            </td>

                            <td>
                                <a class="btn bg-purple btn-circle waves-effect waves-circle waves-float" onclick="showInPopup('@Url.Action("UserDetail","User",new { Id = item.UserId},Context.Request.Scheme)', 'مشخصات کاربر')" title="مشخصات"><i class="material-icons">assignment_ind</i></a>
                                <a class="btn bg-pink btn-circle waves-effect waves-circle waves-float" onclick="myBlock('@item.UserId', '@item.Mobile')" title="مسدود کردن"><i class="material-icons">block</i></a>
                            </td>
                        </tr>
                        rowCount++;
                    }
                </tbody>



            </table>
        }

        @if (ViewBag.Mobile != null)
        {
            @* Paging *@
            @if (ViewBag.PageCount > 1)
            {
                <div class="row text-center">

                    <ul class="page-num">
                        @if ((int)ViewBag.PageID > 1)
                        {
                            @* Previous *@
                            <li>
                                <a href="?mobile=@ViewBag.Mobile&page=@((int)ViewBag.PageID-1)">
                                    <span>قبلی</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= (ViewBag.PageCount); i++)
                        {
                            <li>
                                <a class="@(((int)ViewBag.PageID==i)?"activepage":"")" href="?mobile=@ViewBag.Mobile&page=@i">
                                    @i
                                    <span class="sr-only"></span>
                                </a>
                            </li>
                        }


                        @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                        {
                            @* Next *@
                            <li>
                                <a href="?mobile=@ViewBag.Mobile&page=@((int)ViewBag.PageID+1) ">
                                    <span>بعدی</span>
                                </a>
                            </li>

                        }
                    </ul>
                </div>

            }
        }
        else
        {
            @* Paging *@
            @if (ViewBag.PageCount > 1)
            {
                <div class="row text-center">

                    <ul class="page-num">
                        @if ((int)ViewBag.PageID > 1)
                        {
                            @* Previous *@
                            <li>
                                <a href="?page=@((int)ViewBag.PageID-1)">
                                    <span>قبلی</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= (ViewBag.PageCount); i++)
                        {
                            <li>
                                <a class="@(((int)ViewBag.PageID==i)?"activepage":"")" href="?page=@i">
                                    @i
                                    <span class="sr-only"></span>
                                </a>
                            </li>
                        }


                        @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                        {
                            @* Next *@
                            <li>
                                <a href="?page=@((int)ViewBag.PageID+1) ">
                                    <span>بعدی</span>
                                </a>
                            </li>

                        }
                    </ul>
                </div>

            }
        }
    </div>
</div>
@section Scripts{
    <script>
        showInPopup = (url, title) => {
            $.ajax({
                type: 'GET',
                url: url,
                success: function (res) {
                    $('#adminModal .modal-body').html(res);
                    $('#adminModal .modal-title').html(title);
                    $('#adminModal').modal('show');
                    // to make popup draggable
                    $('.modal-dialog').draggable({
                        handle: ".modal-header"
                    });
                }
            })
        }


        function myBlock(id, mobile) {
            swal({
                title: "تأیید مسدود کردن",
                text: "آیا از مسدود کردن  " + mobile + "  اطمینان دارید؟",
                icon: "warning",
                buttons: ['لغو', 'بلی'],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        window.open('/AdminPanel/User/BlockUser/' + id, '_parent');
                    }
                });
        }
    </script>
   
}










